
.section{


	&--vertically-spaced{
		overflow: hidden;
		padding-top:$verticalSpace;
		padding-bottom:$verticalSpace;
	}
	
	&--first{
		padding-top: calc($verticalSpace * 2);
	}

	&--blue{
		background-color:$blue;
		color: white;
	}

	&--testimonials{
		padding-top: 0;
		@mixin largeScreen{
			&.lazyloaded{
				background: url(../../assets/images/testimonials-bg.jpg) top center no-repeat;
				background-size: cover;
			}
		}
		.icon-headline__icon{
			transform: translateY(19px);
			margin-right: 1.2rem;
		}
	}

}